:root {
    --green-color: #8bc34a;
}

/* class for green text */
.text-green {
    color: var(--green-color);
}   

/* class for green background */
.bg-green {
    background-color: var(--green-color);
}

.btn-success {
    background-color: var(--green-color);
    border-color: var(--green-color); 
}

/* class for displaying highlited text (numbers of notifications etc) */
.text-highlight {
    color: #fff;
    background-color: var(--green-color);
    border-radius: 50%;
    width: 20px;
    text-align: center;
    float: right;
}

/* a small menu displayed under user's profile picture on his main page*/
.user-menu ul {
    list-style-type: none;
    padding: 5%;
}

nav a {
    color: #fff;
}

nav h2 a {
    color: #000;

}

nav h2 a:hover {
    color: #555;
    text-decoration: none;
}

.navbar {
    margin-bottom: 10px;
}

.post-panel {
	margin-bottom: 10px;
}

footer .container {
    color: var(--green-color);
}