<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <import resource="classpath*:applicationContext-persistence.xml" />
    <import resource="classpath*:applicationContext-social.xml"/>
    <import resource="classpath*:applicationContext-security.xml"/>

    <context:component-scan base-package="cz.zcu.pia.valesz" />

    <mvc:annotation-driven />

    <!--<mvc:resources mapping="/resources/**" location="/resources/" />-->

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="prefix">-->
    <!--<value>/WEB-INF/views/</value>-->
    <!--</property>-->
    <!--<property name="suffix">-->
    <!--<value>.jsp</value>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="mappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
    <!--<property name="defaultErrorView" value="error"/>-->
    <!--<property name="exceptionAttribute" value="ex"/>-->

    <!--<property name="warnLogCategory" value="exceptionResolver.logger"/>-->
    <!--</bean>-->

    <bean id="authUtils" class="cz.zcu.pia.valesz.core.service.AuthUtils"/>

    <!-- daos -->

    <!-- managers -->
    <bean id="userManager" class="cz.zcu.pia.valesz.core.service.impl.UserManagerImpl"/>
    <bean id="postManager" class="cz.zcu.pia.valesz.core.service.impl.PostManagerImpl"/>
    <bean id="friendManager" class="cz.zcu.pia.valesz.core.service.impl.FriendManagerImpl" />
    <bean id="messageManager" class="cz.zcu.pia.valesz.core.service.impl.MessageManagerImpl" />

</beans>